/*
Some mixins I frequently use
*/

@mixin set-font($family, $size, $weight){
  font:{
    family: $family;
    size: $size;
    weight: $weight;
  }
}

@mixin clearfix{
  &:before, &:after{
    display: table;
    content: "";
  }
  &:after {
      clear:both;
  }
}

@mixin full-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

@mixin cover($url) {
  background: url($url) no-repeat center center fixed;
  @include background-size(cover); 
}

@mixin hover-active-focus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}