@import "compass";
@import url(normalize.css);
@import "noncompile";
@import "typography";

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    background-color: #fafafa;
}

//Selection
::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

//SVG bug when changing font color
h1::selection, h2::selection, h3::selection, h4::selection, 
h5::selection, h6::selection, h2 a::selection{
    color: inherit;
}

//Setting vertical rhythm
$spacing: 2.6rem;
p, ul, ol, h1, h2, h3, h4, h5, h6,
pre, blockquote {
    margin:{
        top: 0;
        bottom: $spacing;
    }
}

.container {
    position: relative;
    width: 86%;
    max-width: 860px;
    margin: 0 auto;
}
.inner{
    width: 100%;
}

//Post styles (on index)
.post{
    position: relative;
    width: 86%;
    max-width: 860px;
    border-bottom: 1px solid #ddd;
    margin:{
        left: auto;
        right: auto;
        top: 0;
        bottom: $spacing * 2;
    }
    .post-image{
        margin-bottom: $spacing;
        a{
            display: block;
            height: 100%;
            width: 100%;
        }
        p{
            margin: 0;
            line-height: 0;
        }
        img{
            width: 100%;
            -webkit-backface-visibility: hidden;
            @include transition(0.3s);
            &:hover, &:active, &:focus{
                opacity: 0.8;
            }
        }
    }
    .post-title{
        margin:{
            top: -0.2rem;
            bottom: $spacing;
        }
    }
}

//Site Head
#site-head {
    width: 100%;
}

.blog-title, .blog-description {
    display: inline-block;
    margin: $spacing*2 0;
}

.blog-description {
    margin-left: 10px;
}

//Post Template
.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.post-template .post-header {
    margin-bottom: 0;
    a{
        display: block;
        width: auto;
        padding: $spacing*2 0;
        @include transition(ease 0.3s);
        &:hover{
            @include transform(translateX(-3px));
        }
    }
}

.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

//Post footer stuff
.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: #ccc 1px solid;
    h4{
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0 0 1rem 0;
    }
    p{
        margin: 1rem 0;
        font-size: 1.4rem;
        line-height: 1.6em;
    }
    .author{
        margin-right: 180px;
    }
    .share{
        position: absolute;
        top: 4rem;
        right: 0;
        width: 140px;
        a{
            font-size: 2.4rem;
            display: inline-block;
            margin: 0 1rem 1rem 0;
            color: #bababa;
            &:hover, &:active, &:focus{
                color: #50585D;
                @include transform(translateY(-1px));
            }
        }
    }
}


//Code stuff
code, tt {
    padding: 1px 3px;
    white-space: pre;
    border: 1px solid #e2e2e2;
    background: #f2f2f2;
    border-radius: 2px;
}

pre {
    @include box-sizing('border-box');
    border-bottom: 2px solid #e7e7e7;
    width: 100%;
    padding: 10px;
    white-space: pre;
    overflow: auto;
    background: #f2f2f2;
    border-radius: 3px;
}

//Blockquote stuff
blockquote {
    @include box-sizing('border-box');
    margin-left: -2.2em;
    padding: 0 0 0 $spacing;
    border-left: #4a4a4a 0.4em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em $spacing;
    font-size: 0.9em;
    color: #ccc;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin:{
        top: 0;
        bottom: $spacing;
    }
    padding: 0;
}

//Footer
.site-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0;
    background: #1E2027;
}

.subscribe {
    width: 32px;
    padding: 9px 0;
    display: block;
    float: right;
    position: relative;
    text-align: center;
    line-height: 1.4rem;
    transition: 0.5s;
    color: #fff;
    font-size: 1.4rem;
    &:hover, &:active, &:focus{
        @include transform(translateY(-2px));
    }
}

//Paginations
.pagination {
    position: relative;
    width: 86%;
    max-width: 860px;
    margin: 4rem auto;
}

.older-posts,
.newer-posts {
    position: absolute;
    padding: 2px 0;
    top: 0;
    display: inline-block;
    border: none;
    text-decoration: none;
    transition: color ease 0.3s;
    &:hover, &:active, &:focus{
        color: #57A3E8;
    }
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

//Untouched - straight from Ghost's Casper theme
ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

blockquote small:before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight:bold;
}

blockquote cite a { font-weight: normal; }

dl {
    margin: 1.6em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

mark {
    background-color: #ffc336;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 
        0 1px 0 rgba(0, 0, 0, 0.2), 
        0 1px 0 0 #fff inset;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width:100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: 2px solid #efefef; }

table table table { background-color: #fff; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain {
    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th {
        background: transparent;
    }
}

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}
//end untouched

//Media Queries - 900px
@media only screen and (max-width: 900px) {

    blockquote {
        margin-left: 0;
    }

    #site-head {
        height: auto;
    }

    .post {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
    }

    h2 {
        font-size: 3.3rem;
        line-height: 1.2em;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }
}

// 500px
@media only screen and (max-width: 500px) {

    .container, 
    .pagination, #site-head-content, .inner{
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    #site-head-content h1, #site-head-content h2{
        display: block;
        margin: 0;
    }
    
    #site-head{
        margin: $spacing 0;
    }

    .post-template .content{
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        .post-header{
            padding: 0;
            a{
                padding: $spacing 0;
            }
        }
    }

    .post-header{
        margin-bottom: 1rem;
    }

    .post {
        width: 100%;
        margin: $spacing 0;
        border-bottom: #f5f5f5 2px solid;
    }

    article{
        border-bottom: none;
    }

   .post-image img{
        width: 100%;
    }

    .pagination{
        margin: -$spacing auto 0;
        padding-bottom: 0;
    }

    a.older-posts, a.newer-posts{
        display: inline-block;
        position: static;
        width: 49%;
        margin-right: -4px;
        margin-left: 0;
        padding: 1rem 0;
        transition: 0.3s;
    }

    a.older-posts{

    }
    a.newer-posts{

    }

    a.older-posts:hover, a.newer-posts:hover{
        color: #57A3E8;
    }

    .page-number{
        display: none;
    }

    .site-footer{
        margin-top: 0;
        font-size: 1.1rem;
    }

    h1, h2 {
        font-size: 2.8rem;
        line-height: 3.2rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2.2rem;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    .post-meta {
        font-size: 1.3rem;
    }

    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }

    .post-footer .author {
        margin: 0 0 2rem 0;
        padding: 0 0 1.6rem 0;
        border-bottom: #ccc 1px solid;
    }

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }
}