@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Muli);
/*
Some mixins I frequently use
*/
@font-face {
  font-family: 'monb';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monr';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Load SVG on webkit browsers */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'monr';
    src: url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
}
}
/* Type styles for Pebble */
/* line 40, ../sass/_typography.scss */
html {
  font-size: 10px;
  /*
  font-size: 62.5%;
  Don't do this.
  This assumes users have a 16pt os default font size.
  */
}

/* line 49, ../sass/_typography.scss */
body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #6a6a6a;
}

/* line 56, ../sass/_typography.scss */
h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: "monr", sans-serif;
  color: #404040;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* line 65, ../sass/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}

/* line 70, ../sass/_typography.scss */
h2 {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

/* line 75, ../sass/_typography.scss */
h3 {
  font-size: 3rem;
}

/* line 79, ../sass/_typography.scss */
h4 {
  font-size: 2.5rem;
}

/* line 83, ../sass/_typography.scss */
h5 {
  font-size: 2rem;
}

/* line 87, ../sass/_typography.scss */
h6 {
  font-size: 1.8rem;
}

/* line 91, ../sass/_typography.scss */
a {
  color: #4a4a4a;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

/* line 96, ../sass/_typography.scss */
a:hover, a:active, a:focus {
  color: #57a3e8 !important;
}

/* line 101, ../sass/_typography.scss */
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #404040;
}

/* line 106, ../sass/_typography.scss */
.post-header.index .post-title {
  font-family: "monr", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.8rem;
}
/* line 111, ../sass/_typography.scss */
.post-header.index .post-title a {
  text-decoration: none;
}

/* line 117, ../sass/_typography.scss */
.post-meta {
  font-family: "monr", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

/* line 124, ../sass/_typography.scss */
.blog-title, #blog-logo, .post-template .post-header a {
  font-family: "monb", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2rem;
  text-indent: 0;
  text-decoration: none;
}

/* line 134, ../sass/_typography.scss */
.blog-description {
  font-family: "monr", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  color: #999;
  text-transform: uppercase;
}

/* line 142, ../sass/_typography.scss */
code, tt, pre {
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 1.4rem;
}

/* line 147, ../sass/_typography.scss */
blockquote {
  color: #8a8a8a;
}

/* line 151, ../sass/_typography.scss */
.pagination {
  font-family: "monr", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #999;
}

/* line 160, ../sass/_typography.scss */
.pagination a {
  color: #999;
}

/* line 164, ../sass/_typography.scss */
.site-footer {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 172, ../sass/_typography.scss */
.site-footer a {
  color: #ccc;
  text-decoration: none;
}

/* line 177, ../sass/_typography.scss */
.site-footer a:hover {
  color: #eee;
}

/* line 6, ../sass/screen.scss */
html {
  height: 100%;
  max-height: 100%;
}

/* line 11, ../sass/screen.scss */
body {
  height: 100%;
  max-height: 100%;
  background-color: #fafafa;
}

/* line 18, ../sass/screen.scss */
::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

/* line 24, ../sass/screen.scss */
::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

/* line 32, ../sass/screen.scss */
h1::selection, h2::selection, h3::selection, h4::selection,
h5::selection, h6::selection, h2 a::selection {
  color: inherit;
}

/* line 39, ../sass/screen.scss */
p, ul, ol, h1, h2, h3, h4, h5, h6,
pre, blockquote {
  margin-top: 0;
  margin-bottom: 2.6rem;
}

/* line 46, ../sass/screen.scss */
.container {
  position: relative;
  width: 86%;
  max-width: 860px;
  margin: 0 auto;
}

/* line 52, ../sass/screen.scss */
.inner {
  width: 100%;
}

/* line 57, ../sass/screen.scss */
.post {
  position: relative;
  width: 86%;
  max-width: 860px;
  border-bottom: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 5.2rem;
}
/* line 68, ../sass/screen.scss */
.post .post-image {
  margin-bottom: 2.6rem;
}
/* line 70, ../sass/screen.scss */
.post .post-image a {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 75, ../sass/screen.scss */
.post .post-image p {
  margin: 0;
  line-height: 0;
}
/* line 79, ../sass/screen.scss */
.post .post-image img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 83, ../sass/screen.scss */
.post .post-image img:hover, .post .post-image img:active, .post .post-image img:focus {
  opacity: 0.8;
}
/* line 88, ../sass/screen.scss */
.post .post-title {
  margin-top: -0.2rem;
  margin-bottom: 2.6rem;
}

/* line 97, ../sass/screen.scss */
#site-head {
  width: 100%;
}

/* line 101, ../sass/screen.scss */
.blog-title, .blog-description {
  display: inline-block;
  margin: 5.2rem 0;
}

/* line 106, ../sass/screen.scss */
.blog-description {
  margin-left: 10px;
}

/* line 111, ../sass/screen.scss */
.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* line 117, ../sass/screen.scss */
.post-template .post-header {
  margin-bottom: 0;
}
/* line 119, ../sass/screen.scss */
.post-template .post-header a {
  display: block;
  width: auto;
  padding: 5.2rem 0;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}
/* line 124, ../sass/screen.scss */
.post-template .post-header a:hover {
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}

/* line 130, ../sass/screen.scss */
.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 137, ../sass/screen.scss */
.post-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #ccc 1px solid;
}

/* line 144, ../sass/screen.scss */
.post-footer h4 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 1rem 0;
}

/* line 151, ../sass/screen.scss */
.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6em;
}

/* line 157, ../sass/screen.scss */
.post-footer .author {
  margin-right: 180px;
}

/* line 161, ../sass/screen.scss */
.post-footer .share {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 140px;
}

/* line 168, ../sass/screen.scss */
.post-footer .share a {
  font-size: 2.4rem;
  display: inline-block;
  margin: 0 1rem 1rem 0;
  color: #bababa;
}

/* line 175, ../sass/screen.scss */
.post-footer .share a:hover {
  color: #50585D;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

/* line 181, ../sass/screen.scss */
code, tt {
  padding: 1px 3px;
  white-space: pre;
  border: 1px solid #e2e2e2;
  background: #f2f2f2;
  border-radius: 2px;
}

/* line 189, ../sass/screen.scss */
pre {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #e7e7e7;
  width: 100%;
  padding: 10px;
  white-space: pre;
  overflow: auto;
  background: #f2f2f2;
  border-radius: 3px;
}

/* line 201, ../sass/screen.scss */
blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -2.2em;
  padding: 0 0 0 2.6rem;
  border-left: #4a4a4a 0.4em solid;
}

/* line 208, ../sass/screen.scss */
blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

/* line 213, ../sass/screen.scss */
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 2.6rem;
  font-size: 0.9em;
  color: #ccc;
}

/* line 220, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 2.6rem;
  padding: 0;
}

/* line 233, ../sass/screen.scss */
.site-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0;
  background: #1E2027;
}

/* line 240, ../sass/screen.scss */
.subscribe {
  width: 32px;
  padding: 9px 0;
  display: block;
  float: right;
  position: relative;
  text-align: center;
  line-height: 1.4rem;
  transition: 0.5s;
  color: #fff;
  font-size: 1.4rem;
}
/* line 251, ../sass/screen.scss */
.subscribe:hover, .subscribe:active, .subscribe:focus {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* line 257, ../sass/screen.scss */
.pagination {
  position: relative;
  width: 86%;
  max-width: 860px;
  margin: 4rem auto;
}

/* line 265, ../sass/screen.scss */
.older-posts,
.newer-posts {
  position: absolute;
  padding: 2px 0;
  top: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: color ease 0.3s;
}

/* line 275, ../sass/screen.scss */
.older-posts {
  right: 0;
}

/* line 279, ../sass/screen.scss */
.page-number {
  display: inline-block;
  padding: 2px 0;
}

/* line 284, ../sass/screen.scss */
.newer-posts {
  left: 0;
}

/* line 289, ../sass/screen.scss */
.older-posts:hover,
.newer-posts:hover {
  color: #57A3E8;
}

/* line 295, ../sass/screen.scss */
ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}

/* line 299, ../sass/screen.scss */
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 301, ../sass/screen.scss */
blockquote cite {
  font-weight: bold;
}

/* line 305, ../sass/screen.scss */
blockquote cite a {
  font-weight: normal;
}

/* line 307, ../sass/screen.scss */
dl {
  margin: 1.6em 0;
}

/* line 311, ../sass/screen.scss */
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 323, ../sass/screen.scss */
dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

/* line 328, ../sass/screen.scss */
mark {
  background-color: #ffc336;
}

/* line 332, ../sass/screen.scss */
pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

/* line 341, ../sass/screen.scss */
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
}

/* line 357, ../sass/screen.scss */
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

/* line 367, ../sass/screen.scss */
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

/* line 375, ../sass/screen.scss */
table th {
  color: #000;
}

/* line 382, ../sass/screen.scss */
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 386, ../sass/screen.scss */
table tbody + tbody {
  border-top: 2px solid #efefef;
}

/* line 388, ../sass/screen.scss */
table table table {
  background-color: #fff;
}

/* line 391, ../sass/screen.scss */
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

/* line 397, ../sass/screen.scss */
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

/* line 402, ../sass/screen.scss */
.gist table {
  margin: 0;
  font-size: 1.4rem;
}

/* line 407, ../sass/screen.scss */
.gist .line-number {
  min-width: 25px;
  font-size: 1.1rem;
}

/* line 412, ../sass/screen.scss */
.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

/* line 418, ../sass/screen.scss */
.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 424, ../sass/screen.scss */
.user-name {
  display: block;
  font-weight: bold;
}

/* line 429, ../sass/screen.scss */
.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 436, ../sass/screen.scss */
.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

/* line 444, ../sass/screen.scss */
.publish-heading {
  display: block;
  font-weight: bold;
}

/* line 449, ../sass/screen.scss */
.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}

@media only screen and (max-width: 900px) {
  /* line 459, ../sass/screen.scss */
  blockquote {
    margin-left: 0;
  }

  /* line 463, ../sass/screen.scss */
  #site-head {
    height: auto;
  }

  /* line 467, ../sass/screen.scss */
  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  /* line 472, ../sass/screen.scss */
  .post-template .post {
    padding-bottom: 0;
  }

  /* line 476, ../sass/screen.scss */
  h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
  }

  /* line 481, ../sass/screen.scss */
  h2 {
    font-size: 3.3rem;
    line-height: 1.2em;
  }

  /* line 486, ../sass/screen.scss */
  h3 {
    font-size: 2.8rem;
  }

  /* line 490, ../sass/screen.scss */
  h4 {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 500px) {
  /* line 499, ../sass/screen.scss */
  .container,
  .pagination, #site-head-content, .inner {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  /* line 505, ../sass/screen.scss */
  #site-head-content h1, #site-head-content h2 {
    display: block;
    margin: 0;
  }

  /* line 510, ../sass/screen.scss */
  #site-head {
    margin: 2.6rem 0;
  }

  /* line 514, ../sass/screen.scss */
  .post-template .content {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  /* line 518, ../sass/screen.scss */
  .post-template .content .post-header {
    padding: 0;
  }
  /* line 520, ../sass/screen.scss */
  .post-template .content .post-header a {
    padding: 2.6rem 0;
  }

  /* line 526, ../sass/screen.scss */
  .post-header {
    margin-bottom: 1rem;
  }

  /* line 530, ../sass/screen.scss */
  .post {
    width: 100%;
    margin: 2.6rem 0;
    border-bottom: #f5f5f5 2px solid;
  }

  /* line 536, ../sass/screen.scss */
  article {
    border-bottom: none;
  }

  /* line 540, ../sass/screen.scss */
  .post-image img {
    width: 100%;
  }

  /* line 544, ../sass/screen.scss */
  .pagination {
    margin: -2.6rem auto 0;
    padding-bottom: 0;
  }

  /* line 549, ../sass/screen.scss */
  a.older-posts, a.newer-posts {
    display: inline-block;
    position: static;
    width: 49%;
    margin-right: -4px;
    margin-left: 0;
    padding: 1rem 0;
    transition: 0.3s;
  }

  /* line 566, ../sass/screen.scss */
  a.older-posts:hover, a.newer-posts:hover {
    color: #57A3E8;
  }

  /* line 570, ../sass/screen.scss */
  .page-number {
    display: none;
  }

  /* line 574, ../sass/screen.scss */
  .site-footer {
    margin-top: 0;
    font-size: 1.1rem;
  }

  /* line 579, ../sass/screen.scss */
  h1, h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    letter-spacing: -1px;
  }

  /* line 585, ../sass/screen.scss */
  h3 {
    font-size: 2.5rem;
  }

  /* line 589, ../sass/screen.scss */
  h4 {
    font-size: 2.2rem;
  }

  /* line 593, ../sass/screen.scss */
  .post-template .post {
    padding-bottom: 0;
  }

  /* line 597, ../sass/screen.scss */
  .post-meta {
    font-size: 1.3rem;
  }

  /* line 601, ../sass/screen.scss */
  .post-footer {
    padding: 4rem 0;
    text-align: center;
  }

  /* line 606, ../sass/screen.scss */
  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #ccc 1px solid;
  }

  /* line 612, ../sass/screen.scss */
  .post-footer .share {
    position: static;
    width: auto;
  }

  /* line 617, ../sass/screen.scss */
  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }
}
