@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Muli);
/*
Some mixins I frequently use
*/
@font-face {
  font-family: 'monb';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monr';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Force SVG on webkit browsers (Chrome on Windows font fix) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'monr';
    src: url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
}
}
/* Type styles for Pebble */
html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #6a6a6a;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: "monr", sans-serif;
  color: #404040;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

a {
  color: #4a4a4a;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

a:hover, a:active, a:focus {
  color: #57a3e8 !important;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #404040;
}

b, strong {
  font-family: "monb", sans-serif;
}

.post-header.index .post-title {
  font-family: "monr", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.8rem;
}
.post-header.index .post-title a {
  text-decoration: none;
}

.post-meta {
  font-family: "monr", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.blog-title, #blog-logo, .post-template .post-header a {
  font-family: "monb", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2rem;
  text-indent: 0;
  text-decoration: none;
}

.blog-description {
  font-family: "monr", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  color: #999;
  text-transform: uppercase;
}

code, tt, pre {
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 1.4rem;
}

blockquote {
  color: #8a8a8a;
}

.pagination {
  font-family: "monr", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #999;
}

.pagination a {
  color: #999;
}

.site-footer {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-footer a {
  color: #ccc;
  text-decoration: none;
}

.site-footer a:hover {
  color: #eee;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  background-color: #fafafa;
}

::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

h1::selection, h2::selection, h3::selection, h4::selection,
h5::selection, h6::selection, h2 a::selection {
  color: inherit;
}

p, ul, ol, h1, h2, h3, h4, h5, h6,
pre, blockquote {
  margin-top: 0;
  margin-bottom: 2.6rem;
}

.container {
  position: relative;
  width: 86%;
  max-width: 860px;
  margin: 0 auto;
}

.inner {
  width: 100%;
}

.post {
  position: relative;
  width: 86%;
  max-width: 860px;
  border-bottom: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 5.2rem;
}
.post .post-image {
  margin-bottom: 2.6rem;
}
.post .post-image a {
  display: block;
  height: 100%;
  width: 100%;
}
.post .post-image p {
  margin: 0;
  line-height: 0;
}
.post .post-image img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.post .post-image img:hover, .post .post-image img:active, .post .post-image img:focus {
  opacity: 0.8;
}
.post .post-title {
  margin-top: -0.2rem;
  margin-bottom: 2.6rem;
}

#site-head {
  width: 100%;
}

.blog-title, .blog-description {
  display: inline-block;
  margin: 5.2rem 0;
}

.blog-description {
  margin-left: 10px;
}

.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.post-template .post-header {
  margin-bottom: 0;
}
.post-template .post-header a {
  display: block;
  width: auto;
  padding: 5.2rem 0;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}
.post-template .post-header a:hover {
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}

.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.post-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #ccc 1px solid;
}
.post-footer h4 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 1rem 0;
}
.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6em;
}
.post-footer .author {
  margin-right: 180px;
}
.post-footer .share {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 140px;
}
.post-footer .share a {
  font-size: 2.4rem;
  display: inline-block;
  margin: 0 1rem 1rem 0;
  color: #bababa;
}
.post-footer .share a:hover, .post-footer .share a:active, .post-footer .share a:focus {
  color: #50585D;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

code, tt {
  padding: 1px 3px;
  white-space: pre;
  border: 1px solid #e2e2e2;
  background: #f2f2f2;
  border-radius: 2px;
}

pre {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #e7e7e7;
  width: 100%;
  padding: 10px;
  white-space: pre;
  overflow: auto;
  background: #f2f2f2;
  border-radius: 3px;
}

blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -2.2em;
  padding: 0 0 0 2.6rem;
  border-left: #4a4a4a 0.4em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 2.6rem;
  font-size: 0.9em;
  color: #ccc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 2.6rem;
  padding: 0;
}

.site-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0;
  background: #1E2027;
}

.subscribe {
  width: 32px;
  padding: 9px 0;
  display: block;
  float: right;
  position: relative;
  text-align: center;
  line-height: 1.4rem;
  transition: 0.5s;
  color: #fff;
  font-size: 1.4rem;
}
.subscribe:hover, .subscribe:active, .subscribe:focus {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.pagination {
  position: relative;
  width: 86%;
  max-width: 860px;
  margin: 4rem auto;
}

.older-posts,
.newer-posts {
  position: absolute;
  padding: 2px 0;
  top: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: color ease 0.3s;
}
.older-posts:hover, .older-posts:active, .older-posts:focus,
.newer-posts:hover,
.newer-posts:active,
.newer-posts:focus {
  color: #57A3E8;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
}

.newer-posts {
  left: 0;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

.gist table {
  margin: 0;
  font-size: 1.4rem;
}

.gist .line-number {
  min-width: 25px;
  font-size: 1.1rem;
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

.user-name {
  display: block;
  font-weight: bold;
}

.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

.publish-heading {
  display: block;
  font-weight: bold;
}

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }

  #site-head {
    height: auto;
  }

  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  .post-template .post {
    padding-bottom: 0;
  }

  h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
  }

  h2 {
    font-size: 3.3rem;
    line-height: 1.2em;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .container,
  .pagination, #site-head-content, .inner {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  #site-head-content h1, #site-head-content h2 {
    display: block;
    margin: 0;
  }

  #site-head {
    margin: 2.6rem 0;
  }

  .post-template .content {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  .post-template .content .post-header {
    padding: 0;
  }
  .post-template .content .post-header a {
    padding: 2.6rem 0;
  }

  .post-header {
    margin-bottom: 1rem;
  }

  .post {
    width: 100%;
    margin: 2.6rem 0;
    border-bottom: #f5f5f5 2px solid;
  }

  article {
    border-bottom: none;
  }

  .post-image img {
    width: 100%;
  }

  .pagination {
    margin: -2.6rem auto 0;
    padding-bottom: 0;
  }

  a.older-posts, a.newer-posts {
    display: inline-block;
    position: static;
    width: 49%;
    margin-right: -4px;
    margin-left: 0;
    padding: 1rem 0;
    transition: 0.3s;
  }

  a.older-posts:hover, a.newer-posts:hover {
    color: #57A3E8;
  }

  .page-number {
    display: none;
  }

  .site-footer {
    margin-top: 0;
    font-size: 1.1rem;
  }

  h1, h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  .post-template .post {
    padding-bottom: 0;
  }

  .post-meta {
    font-size: 1.3rem;
  }

  .post-footer {
    padding: 4rem 0;
    text-align: center;
  }

  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #ccc 1px solid;
  }

  .post-footer .share {
    position: static;
    width: auto;
  }

  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }
}
